body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.hog-card:hover {
	transform: scale(1.05);
}

.hog-card {
	/* width: 350px;
	height: 350px; */
	margin: 10px;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.hog-card:active {
	transform: rotateY(180deg) scale(1.05);
}
